.parent-grid {
  @media (max-width: 600px) {
    max-width: 100%;
  }

  .product-box {
    display: flex;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 12px #0000001f;
    flex-direction: column;
    padding: 15px;

    .product-img {
      display: flex;
      align-items: center;
      justify-content: center;

      > img {
        width: 170px;
        height: auto;
      }
    }

    .product-content {
      width: 100%;
      margin-top: 15px;

      .product-title {
        > a {
          font-size: 14px;
          font-weight: 300;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          outline: none;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          line-height: 23px;
          min-height: 46px;
          color: #282727;
          padding: 0;
        }
      }

      .product-price {
        margin-top: 15px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;

        .old-price {
          color: #848484;
          text-decoration: line-through;
          margin-right: 15px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

          &:after {
            content: "";
            width: 2px;
            height: 18px;
            border-radius: 5px;
            background-color: #ee394e;
            position: absolute;
            right: -8px;
          }
        }

        .discount-price {
          width: 35px;
          height: 20px;
          display: flex;
          background-color: #ed394e;
          color: white;
          align-items: center;
          justify-content: center;
          padding-top: 3px;
          font-size: 13px;
          border-radius: 15px;
          margin-right: 6px;
        }
      }
    }
  }
}