@import "fonts";

body {
  font-family: Vazir, serif !important;
  display: flex;
  direction: rtl;

  * > a {
    text-decoration: none;
  }

  #root {
    width: 100%;
    height: auto;
    padding-top: 70px;
    padding-bottom: 30px;

    @media (max-width: 768px) {
      height: auto;
      padding-bottom: 90px;
    }
  }
}